@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* removing websites defauls styles */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* custom fonts */
@font-face {
  font-family: "Miama Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Miama Regular"), url("../fonts/Miama-Regular.woff") format("woff");
}

@font-face {
  font-family: "Miama";
  font-style: normal;
  font-weight: normal;
  src: local("Miama"), url("../fonts/Miama.woff") format("woff");
}
/* shared styles */
:root {
  --color-primary: rgb(230, 83, 60);
  --color-secondary: rgb(255, 255, 255);
  --color-paragraph: rgba(255, 255, 255, 0.5);
  --color-gray: rgba(255, 255, 255, 0.1);
}

.btn {
  padding: 1rem 2.5rem;
  background-color: var(--color-primary);
  font-size: 1.125rem;
  color: var(--color-secondary);
  border-radius: 2625rem;
  cursor: pointer;
}
.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}
.color-white {
  color: var(--color-secondary);
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.max-width {
  max-width: 66.25rem;
  margin: 0 auto;
}

.paragraph {
  color: var(--color-paragraph);
  letter-spacing: 0.5px;
  line-height: 24px;
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
}
.secondary-title {
  font-size: 1.75rem;
  font-weight: 900;
}
.trainer-name {
  font-size: 1.2rem;
  font-weight: 900;
}
.trainer {
  color: rgba(255, 255, 255, 0.4);
}
body {
  background-color: rgb(0, 0, 0);
}
/* header */
header {
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgb(33, 33, 33),
    rgb(0, 0, 0)
  );
}

/* navbar styles */
.navbar {
  padding-top: 3.6rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  color: var(--color-primary);
  font-size: 2.25rem;
  font-weight: 800;
}
.navbar-list {
  display: flex;
  gap: 3rem;
  border: 1px solid var(--color-gray);
  padding: 0.7rem 1rem 0.7rem 0.3rem;
  border-radius: 3rem;
}

.hamburger-icon-container {
  display: none;
}

.list-item a {
  color: white;
}
.primary-list {
  padding: 0.5rem 1.25rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
}

/* banner styles */
.banner {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.banner-title {
  font-size: 4.875rem;
  max-width: 10ch;
  line-height: 6rem;
}
.banner-title span {
  font-family: "Miama Regular";
  font-weight: normal;
}
.banner-description {
  max-width: 52ch;
}
.btn-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 4.75rem;
}
.img-container {
  position: relative;
}

.widget {
  position: absolute;
  background-color: var(--color-gray);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-gray);
}
.widget.position-1 {
  top: 125px;
  right: -74px;
}
.widget.position-1 > h4 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}
.widget.position-1 > p {
  font-size: 0.8125rem;
}
.widget.position-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.widget.position-2 h4 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255);
}
.widget.position-2 span {
  display: inline-block;
  border: 1px solid red;
  height: 40px;
  width: 40px;
  background-color: var(--color-primary);
  border-radius: 50%;
}
.position-2 {
  bottom: 63px;
  left: -113px;
}

/* main */
main {
  color: white;
  padding-top: 6rem;
}
.habits-text-container {
  text-align: center;
}
.habits-title {
  padding-bottom: 1rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-top: 4rem;
}
.flex-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.flex-group > img {
  border-radius: 50%;
}
.message {
  text-align: center;
}
.message > .paragraph {
  max-width: 25ch;
}

/* extra mile section */
.extra-mile {
  margin-top: 4rem;
  border-radius: 1.2rem;
  background: rgb(34, 34, 34);
  padding: 2.5rem;
  margin-bottom: 6rem;
}
.extra-mile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extra-mile-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.extra-mile .paragraph {
  max-width: 50ch;
}
.extra-mile button {
  width: 50%;
  margin-top: 2rem;
}

.running-img {
  border-radius: 1.2rem;
  width: 366px;
  height: 312px;
  object-fit: none;

  object-position: 65% 30%;
}

.meet {
  margin-bottom: 6rem;
}
.bg {
  background-color: rgb(37, 37, 37);
}
.bmi-text-container {
  max-width: 45rem;
  margin: 0 auto;
}
.bmi-flex-group {
  display: flex;
  margin-top: 5.5rem;

  padding: 3.2rem 0;
  justify-content: space-between;
  align-items: flex-start;
}
.bmi-chart .secondary-title {
  margin-bottom: 3.25rem;
}
.bmi-calculator .paragraph {
  max-width: 65ch;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid var(--color-gray);
  padding: 1rem 1.5rem;
  text-align: left;
}

th {
  font-weight: 500;
}
td {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.bmi-calculator-text {
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form div {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input,
select {
  background-color: var(--color-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}
form button {
  margin-top: 1rem;
  width: 15rem;
}

.meet-text-container {
  text-align: center;
  margin: 7rem 0 4rem 0;
}
.meet-text-container .paragraph {
  max-width: 75ch;
  margin: 0 auto;
}
.grid-container img {
  border-radius: 1rem;
  width: 20.2rem;
  height: 17rem;
  object-fit: cover;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 20.7rem);
  grid-template-rows: repeat(2, 17rem);
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background-color: var(--color-gray);
  max-width: fit-content;
  margin: 0 auto;
  padding: 1.25rem;
  border-radius: 1.2rem;
}
.grid-img-container {
  position: relative;
}
.grid-img-container div {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

/* customers section */
.customers-text-container {
  margin: 0 auto;
  max-width: 45rem;
}

.shoeib {
  grid-area: shoeib;
}
.avi {
  grid-area: avi;
}
.sonar {
  grid-area: sonar;
}
.customers-img-section {
  display: grid;
  grid-template-areas: "shoeib avi sonar";
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.customer-img-container {
  position: relative;
}
.customer-img-container > img {
  border-radius: 1rem;
  max-width: 322px;
  max-height: 438px;
}
.img-text-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.customer-title + p {
  color: white;
  font-weight: 200;
  max-width: 30ch;
  font-style: italic;
}

/* footer section */
footer {
  padding: 4.125rem 0;
  margin-top: 8rem;
}
.footer-flex-group {
  display: flex;
  border-bottom: 1px solid var(--color-gray);
  justify-content: space-around;
  padding-bottom: 5rem;
}
.footer-title {
  font-size: 4.375rem;
  color: var(--color-primary);
  padding-bottom: 1.25rem;
}
.footer-title + .paragraph {
  max-width: 45ch;
}
.footer-flex-group h3 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}
footer a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer-flex-group + .paragraph {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 2.5rem;
}
/* solved overflow issue for the widget */
@media screen and (max-width: 1600px) {
  .widget.position-1 {
    right: -7px;
  }
}
/* media queries for smaller screen sizes */
@media screen and (max-width: 576px) {
  .btn {
    padding: 1rem 1.5rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .secondary-title {
    font-size: 1rem;
  }
  header {
    padding: 0 0.5rem;
  }
  .navbar-list {
    display: none;
  }
  .hamburger-icon-container {
    display: block;
  }
  .banner {
    flex-direction: column;
  }
  .banner-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    max-width: auto;
  }
  .btn-container {
    justify-content: space-between;
  }
  .widget.position-1 {
    right: -10px;
  }
  .widget.position-2 {
    left: -10px;
  }
  .flex-container {
    flex-direction: column;
  }
  .extra-mile {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .extra-mile-container {
    flex-direction: column;
  }
  .extra-mile button {
    width: 100%;
    margin-bottom: 2rem;
  }
  .running-img {
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: 0%;
  }
  .bmi-flex-group,
  .bmi-text-container {
    padding: 0 1.25rem;
  }
  .bmi-flex-group {
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2.8rem;
  }
  .bmi .btn {
    margin-top: 2rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }

  .customers-img-section {
    grid-template-areas:
      "shoeib"
      "avi"
      "sonar";
  }
  .customer-img-container > img {
    min-width: 100%;
    max-height: auto;
  }
  .customers-text-container {
    padding: 0rem 1rem 0rem 3rem;
  }
  footer {
    padding-left: 1.25rem;
  }
  .footer-flex-group {
    flex-direction: column;
    gap: 1.25rem;
    margin-right: 1.25rem;
  }
}
